@charset "UTF-8";
html {
    font-family: "Source Sans Pro", sans-serif, "Helvatica Neue", Arial;
    color: #2b2b2b;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

p {
    color: #2b2b2b;
}

/* Hier kommt der Header-Bereich*/

.header {
    height: 120px;
    width: 100%;
    background-color: #9FC5F8;
    background-size: cover;
}

.header-navbar {
    overflow: hidden;
    margin-right: 1em;
}

.header-navbar-links {
    color: rgb(44, 44, 44);
    float: right;
    display: block;
    margin-top: 2em;
    margin-right: 2em;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}

.header-navbar-links li {
    float: left;
    margin-left: 20px;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .header-navbar-links{
        float: none;
        width: 100%;
    }
}

.header-brand-wrapper {
    margin-top: 3em;
    float: left;
}

.header-brand {
    color: rgb(44, 44, 44);
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    margin-top: -10%;
    padding-left: 20px;
    display: block;
}

/* Hier kommt der Hauptbereich*/


.maintitle {
    color: rgb(44, 44, 44);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 200%;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.content_top {   /* Welcome to Tony's Pizza Factory und Hauptbild */
    text-align: center;
}

.content_bottom { /* Das sind die kleinen Front Bilder */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content_bottom_link {  /* - tbd - Das wird der Link auf den kleinen Front Bildern */
    margin: 5%;
}

#container {  /* Das ist der Container für die Subsites */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.box { /* Das sind die einzlenen Boxen auf den Subsites */
    width: 250px;
    padding: 25px;
    margin: 10px;
    color: brown;

}

.box {
    position: relative;
    text-align: center;
    color: white;
}

/*.container {
    position: relative;
    text-align: center;
    color: white;
}*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.feature-icon {   /* Das ist das Shopping Cart Icon */
    justify-content: right;
    float: right;
    padding-left: 5%;
}

.price {
    font-size: 120%;
    font-weight: bold;
    float: right;
}

.ingredients {
    font-size: small;
}


/*CSS Feedback Formular*/


form p {
    font-weight: bold;
}

/* Style inputs, select elements and textareas */
input[type=text],[type=email], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

label[for=name], [for=email], [for=text]{
    font-weight: bold;
}

/* Style the submit button */
input[type=submit] {
    background-color: #3874cf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover{
    background-color: darkblue;
}

/* Style the container */
.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Hier kommt der Footer*/

.footer {
    background-color: #9FC5F8;
    width: 100%;
    bottom: 0;
    height: auto;

    margin-top: auto;

}

.footer_flex_container {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: lightblue;
    font-weight: bold;
    width: 100%;
    margin-top: auto;

}

.footer-box {
    flex-basis: 30%;
}

#opening {
    font-weight: bold;
    display: inline-block;
    width: 32%;
    text-align: left;
    padding-left: 20px;
}

#quotation {
    font-weight: bold;
    display: inline-block;
    width: 32%;
}

#address {
    font-weight: bold;
    display: inline-block;
    width: 32%;
    text-align: right;
    padding-right 20px;
}



/* müssen wir nochmals anschauen  habe die Farben mal entfernt.*/

body {
    background-color: white;
}

@media screen and (min-width: 400px) {
    body {
        background-color: white;

    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: white;

    }
}

