body {
    font-size: 1em;
}


header {
    background-color: lightblue;
}

footer {
    background-color: lightblue;
    width: 100%;

}



.navi {
    display: inline;
    margin-right: 0.5em ;
    float: right;

}

h1 {

}

main {
    width: 100%;
}

main > h2 {
    font-size: 3em;
    text-align: center;
    display: block;

}

/*img {
    border-style: solid;
    border-color: pink;
    border-width: 3px;
    width: 100px;

    margin: auto;
}*/

/* .image_wrapper {
    width: 33.3%;
} */

#mainimage {    
    display: block;
    /* width: 600px; */
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;    
}

.mainflex {
    margin: 5px;
    width: 25%;
    max-width: 100%;
    max-height: 100%;
}

img {
    max-height: 100%;
}

#flexcontainer_main {
    display: flex;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    padding: 5px;
    text-align: center;
}

.caption {
    display: block;
    text-align: center;
}

/*#flex_container_footer {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    text-align: center;
    justify-content: center;
    width: 100%;
} */

#opening {
    font-weight: bold;
    display: inline-block;
    width: 32%;
    text-align: left;
}

#quotation {
    font-weight: bold;
    display: inline-block;
    width: 32%;
}

#address {
    font-weight: bold;
    display: inline-block;
    width: 32%;
    text-align: right;
    margin-right: 5px;
}

/*STYLES FOR PIZZA PAGE*/

@media(min-width: 460px) {
    #flexcontainer_pizza_upper, #flexcontainer_pizza_lower{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;



    }

    #salad_container {
        display: flex;
        justify-content: space-around;
    }

    #softdrink_container {
        display: flex;
        justify-content: space-around;
    }



}

.footer_flex_container {
    display: flex;
    justify-content: space-around;
    height: auto;
}

.footer-box {
    flex-basis: 30%;
}

#adress_right {
    display: flex;
    justify-content: flex-end;
}

.pizzapics-box {
    flex-basis: 20%;
    justify-content: center;




}

.pictureSize {
    width: 100%;
    object-fit: contain;
}


/*STYLES FOR SALAD PAGE*/

.salad_box {
    flex-basis: 20%;
}

/*STYLES FOR SOFTDRINKS PAGE*/

.softdrink_box {

}

