@charset "UTF-8";
html {
  font-family: "Source Sans Pro", sans-serif, "Helvatica Neue", Arial;
  color: #2b2b2b;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

p {
    color: #2b2b2b;
}


/*Hier kommt die Navigation*/

h1 {
    padding: 0.3em;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}



/*Hier kommt der Hauptbereich*/

body {
    width: 100%;
}


.maintitle {
    color: rgb(44, 44, 44);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 200%;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.content_top {   /* Welcome to Tony's Pizza Factory und Hauptbild */
    text-align: center;
}

.content_bottom { /* Das sind die kleinen Front Bilder */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.content_bottom_link {  /* - tbd - Das wird der Link auf den kleinen Front Bildern */
    margin: 5%;
}

.restaurant_front{
    display: flex;
    justify-content: center;
    margin: 4em
}

#container {  /* Das ist der Container für die Subsites */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.box { /* Das sind die einzelnen Boxen auf den Subsites */
    width: 250px;
    padding: 25px;
    margin: 10px;
    flex-basis: 25%;
    
}
/* box-1 um schrift über bild def zu können*/
.box-1{
    width: 250px;
    padding: 25px;
    margin: 10px;
    position: relative;
    text-align: center;
    text-shadow:
            1px  1px 1px blue,
            1px -1px 1px violet,
            -1px  1px 1px yellow,
            -1px -1px 1px red;
    font-family: sans; color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 250%
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.feature-icon {   /* Das ist das Shopping Cart Icon */
    justify-content: right;
    float: right;
    padding-left: 5%;
}

.price {
    font-size: 120%;
    font-weight: bold;
    float: right;
}

.ingredients {
    font-size: small;
}



/*CSS Feedback Formular*/


form p {
    font-weight: bold;
}

input[type=text],[type=email], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

label[for=name], [for=email], [for=text]{
    font-weight: bold;
}

input[type=submit] {
    background-color: #3874cf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover{
    background-color: darkblue;
}


.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/*form controls*/

.col-75 {
    float: left;
    width: 75%;
    margin-top: 25px;
}

.col-75 input, textarea{
  border: 2px solid black;
}

.col-75.success input {
  border-color: #7FFF00;
}

.col-75.success textarea  {
  border-color: #7FFF00;
}

.col-75.error input {
  border-color: red;
}

.col-75.error textarea {
  border-color: red;
}

.col-75 i {
  position: absolute;
  visibility: hidden; 
  
}

.col-75.success i.fa-check-circle {
  visibility: visible;
  color: #7FFF00  
}

.col-75.error i.fa-exclamation-circle {
  visibility: visible;
  color: red;
}

.col-75.error small {
  visibility: visible;
  position: relative;
  left: 20px;
  color: red;
  
}                            

.col-75 small {
  visibility: hidden;
  
}

/*Send Button*/

#button_wrapper {
    display: flex;
    width: 100%;
    align-content: flex-end;
    justify-content: flex-end;
    
}

#button {
    justify-content: flex-end;
    
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Hier kommt der Footer*/


footer {
    display: flex;
    background-color: #333;
    width: 100%;
    margin-top: auto;
}

.footer_flex_container {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #333;
    margin-top: auto;
    flex: 1;
}

.footer-box {
    flex-basis: 30%;
    justify-content: space-around;
    flex: 1;
}

.footer-box, .footerp {
    color: #f2f2f2;
    font-size: 17px;
}

#adress_right {
    display: flex;
    justify-content: flex-end;
    width: 32%;
}

#opening {
    display: inline-block;
    width: 32%;
    text-align: left;
    margin-left: 5px;
}

#quotation {
    display: inline-block;
    width: 32%;
}

#address {
    display: inline-block;
    width: 32%;
    text-align: right;
   
}

#adress_right {
    display: flex;
    justify-content: flex-end;
}


body {
    background-color: white;
}


@media screen and (max-width: 600px) {
    #mainpicture{
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 400px) {
    body {
        background-color: white;
    }
}


@media screen and (max-width: 700px) {
    .footer_flex_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-box {
        width: 100%;
    }

    #adress_right{
        justify-content: center;
    }

    #opening {
        justify-content: center;
    }
    #quotation{
        justify-content: center;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: white;
    }
}
